.social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--color-terciary);
    margin-right: 10px;
    border-radius: 50%;
    color: var(--color-text);
    transition: all 0.5s ease;
}

.social-links a:hover {
    background-color: var(--color-text);
    color: #1a1a1a;
}
